body,ul,li{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 50px;
}
.header .lado-direito ul {
    display: flex;
    padding: 15px 35px 0 30px;
    justify-content: flex-end;
    align-items: center;
}
.header .lado-direito ul li{
    list-style: none;
    font-size: 14px;
    color: #5e5a5a;
}
.header .lado-direito ul li a{
    text-decoration: none;
    color: black;
}

.header .lado-direito ul li a:hover{
    text-decoration: underline;
}

.header .lado-direito ul li img{
    width: 19px;
}
.header .lado-direito ul li + li{
    padding: 0 0 0 20px;
}
.header .lado-direito ul li div{
    width: 32px;
    height: 32px;
    background-color: #004D40;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .lado-direito ul li div span{
    color: white;
    font-size: 18px;
}
.letra-nome{
    margin-top: -6px ;
    display: flex;
    justify-content: center;
    align-items: center;
}



.content .imagem-google{
    text-align: center;
}

.content .buscador{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.content img{
    padding-top:110px ;
}
.buscar-item{
    width: 584px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    display: flex;
}
.lupa-icon-side{
    display: flex;
    align-items: center;
    position: relative;
}
.lupa-icon{
    height: 20px;
    width: 20px;
    margin-left:14px ;
    margin-right: 13px;
}
.lupa-icon img{
    width: 20px;
    padding: 0;
}

.input-part{
    display: flex;
    align-items: center;
}
.buscar-item input{
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 34px;
    flex: 100%;
    width: 447px;
    height: 34px;
}

.keyboard-microfone-icon{
    display: flex;
    align-items: center;
}
.keyboard-icon{
    padding-left: 8px;
    padding-right: 15px;
}
.keyboard-icon img{
    width: 24px;
    padding: 0;
}

.microfone-icon{
    padding-left: 8px;

}
.microfone-icon img {
    width: 15px;
    padding: 0;
}


.botoes{
    justify-content: center;
    display: flex;
}
.botoes .botao{
    border: 1px solid #dfe1e5;
    margin: 11px 4px 11px 4px;
    padding: 12px;
    border-radius: 5px;
    color: #5e5a5a;
    min-width: 55px;
    font-size: 14px;
    padding: 0 16px 0 16px;
    height: 34px;
    line-height: 34px;
    background-color: #F8F8F8;
    font-size: 14px;
    text-align: center;
}
.botoes .botao:hover{
    border: 1px solid #C6C6C6;
    background-color: #fafafa;
    color: rgb(49, 48, 48);
}

.botoes  a {
    text-decoration: none;
}

.msg-google{
    margin-top: 15px;
    text-align: center;
}
.msg-google span{
    font-size: 13px;
}
.msg-google span a{
    text-decoration: none;
}

.footer{
    background-color: #F2F2F2;
    border-top: 1px solid #c9c5c5;

    color: #5e5a5a;
    position: absolute;
    bottom: 0px;
    width: 100vw;
}
.footer-cima{
    height: 40px;
    line-height: 40px;
    padding-left: 27px;
}

.footer-baixo{
    display: flex;
    border-top: 1px solid #c9c5c5;
    height: 40px;    
}
.footer-baixo ul{
    display: flex;
    line-height: 40px;
}
.footer-baixo ul a{
    text-decoration: none;
    color: #5e5a5a;
}
.footer-baixo ul a:hover{
    text-decoration: underline;
}

.footer-baixo ul li{
    list-style: none;
    padding-left: 27px;
}
.footer-baixo-esquerda{
    width: 50%;
}
.footer-baixo-direita{
    width: 50%;
}
.footer-baixo-direita ul{
    justify-content: flex-end;
    padding-right: 27px;
}

